<!DOCTYPE html>
<html lang="<%= t('site_lang') %>">
  <head>
    <meta charset="UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" rel="stylesheet" media="all">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>RubyConf Argentina 2013</title>
    <link rel="icon" type="image/png" href="../favicon.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='#home'><%= t('nav_home') %></a></li>
        <li><a href='#speakers'><%= t('nav_speakers') %></a></li>
        <li><a href='program.html'><%= t('nav_program') %></a></li>
        <li><a href='rfd.html'><%= t('nav_rfd') %></a></li>
        <li><a href='#venue'><%= t('nav_venue') %></a></li>
        <li><a href='#sponsors'><%= t('nav_sponsors') %></a></li>
        <li class="pull-right"><a href='<%= t('nav_lang_selector_url') %>'><%= t('nav_lang_selector_message') %></a></li>
      </ul>
    </nav>
    
    <header id="home">
      <div class="container">
        <img src="../img/rubyconfar-2013.png">
        <p>Buenos Aires, <%= t('date') %></p>
      </div>
    </header>

    <section id="home">
      <div class="container">
        <h1><%= t('header')%></h1>
        <a href="https://eventioz.com.ar/e/rubyconf-argentina-2013/registrations/new" class="btn btn-red btn-large"><i class="icon-ticket"></i> <%= t('register') %></a>
        <p class="price">
          <span class="price price-regular">ARS $800</span>
          <span class="price price-earlybird">ARS $500</span>
          <span class="price price-legend"><%= t('price_legend') %></span>
        </p>
        <p class="ticket-includes"><%= t('ticket_includes') %></p>
      </div>
    </section>

    <section id="speakers">
      <div class="container">
        <h2><%= t('cfp_title')%></h2>
        <ul>
          <% @speakers.merge(@rfd_speakers).each do |speaker| %>
            <li>
              <img class="speaker" alt="<%= speaker[1]['full_name']%>" src="../img/speakers/<%= speaker[0] %>.jpg">
              <h3><a href="https://twitter.com/<%= speaker[1]['twitter'] %>"><%= speaker[1]['twitter'] %></a></h3>
              <p>(<%= speaker[1]['full_name']%>)</p>
              <p><%= speaker[1]['company']%>&nbsp;</p>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section id="venue">
      <div class="container">
        <h2><%= t('venue_title') %></h2>
        <p><%= t('venue_text') %> <a href="http://www.ciudadculturalkonex.org/?page=institucional&subpage=historia">Ciudad Cultural Konex</a>.</p>
        <iframe width="480" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=Sarmiento+3131,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hnear=Sarmiento+3131,+Balvanera,+Buenos+Aires,+Argentina&amp;t=m&amp;z=14&amp;output=embed"></iframe>
      </div>
    </section>

    <section id="sponsors">
      <div class="container">
        <h2><%= t('sponsors_title') %></h2>
        <ul class='sponsors-platinum'>
          <li>
            <a href="http://citrusbyte.com"><img src="../img/sponsors/citrusbyte.gif" height="65" width="288" alt="Citrusbyte"></a>
          </li>
        </ul>
        <ul class='sponsors-gold'>
          <li>
            <a href="http://www.restorando.com"><img src="../img/sponsors/restorando.gif" height="55" width="162" alt="Restorando"></a>
          </li>
          <li>
            <a href="https://eventioz.com.ar/?utm_source=rubyconfar&utm_medium=display&utm_campaign=sponsorship&utm_content=logo_eventioz&source=evpr--"><img src="../img/sponsors/eventioz.gif" height="55" width="203" alt="Eventioz"></a>
          </li>
        </ul>
	      <ul class='sponsors-silver'>
          <li>
            <a href="http://inaka.net"><img src="../img/sponsors/inaka.gif" height="45" width="121" alt="Inaka"></a>
          </li>
          <li>
            <a href="http://www.10pines.com"><img src="../img/sponsors/10pines.gif" height="45" width="138" alt="10 Pines"></a>
          </li>
          <li>
            <a href="http://scvsoft.com"><img src="../img/sponsors/scv.gif" height="45" width="150" alt="SCV Soft"></a>
          </li>
          <li>
            <a href="http://www.neo.com"><img src="../img/sponsors/neo.gif" height="45" width="134" alt="Neo"></a>
          </li>
          <li>
            <a href="https://github.com"><img src="../img/sponsors/github.gif" height="45" width="166" alt="GitHub"></a>
          </li>
        </ul>
        <ul class='sponsors-bronze'>
          <li>
            <a href="http://altoros.com.ar"><img src="../img/sponsors/altoros.gif" height="34" width="196" alt="Altoros"></a>
          </li>
          <li>
            <a href="http://kleer.la"><img src="../img/sponsors/kleer.gif" height="35" width="125" alt="Kleer"></a>
          </li>
          <li>
            <a href="http://deviget.com"><img src="../img/sponsors/deviget.gif" height="35" width="130" alt="Deviget"></a>
          </li>
        </ul>
        <p><%= t('sponsors_text') %></p>
        <p><a href="mailto:rubyconfar@gmail.com"><%= t('contact_us')%></a> <%= t('sponsors_text_closure') %></p>
      </div>
    </section>

    <footer>
      <p><%= t('footer_first') %> <abbr title="Ruby Argentina Asociación Civil">RAAC</abbr>, <%= t('footer_end') %>.</p>
      <p class="social-icons pull-right">
        <a href="http://twitter.com/rubyconfar" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a>
        <a href="http://facebook.com/rubyconfar" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a>
        <a href="https://vimeo.com/rubyargentina" title="Vimeo"><i class="icon-youtube-play icon-2x"></i></a>
      </p>
      <p class="past-editions">
        <%= t('past_editions') %>:
        <a href="http://2011.rubyconfargentina.org">RubyConf Argentina 2011</a>
        <a href="http://2012.rubyconfargentina.org">RubyConf Argentina 2012</a>
      </p>
    </footer>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-83541-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
