<!DOCTYPE html>
<html lang="<%= t('site_lang') %>">
  <head>
    <meta charset="UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" rel="stylesheet" media="all">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>RubyConf Argentina 2013</title>
    <link rel="icon" type="image/png" href="../favicon.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='#home'><%= t('nav_home') %></a></li>
        <li><a href='#speakers'><%= t('nav_speakers') %></a></li>
        <li><a href='#venue'><%= t('nav_venue') %></a></li>
        <li><a href='#sponsors'><%= t('nav_sponsors') %></a></li>
        <li class="pull-right"><a href='<%= t('nav_lang_selector_url') %>'><%= t('nav_lang_selector_message') %></a></li>
      </ul>
    </nav>
    
    <header id="home">
      <div class="container">
        <img src="../img/rubyconfar-2013.png">
        <p>Buenos Aires, <%= t('date') %></p>
      </div>
    </header>

    <section id="home">
      <div class="container">
        <h1><%= t('header')%></h1>
        <a href="https://eventioz.com.ar/e/rubyconf-argentina-2013/registrations/new" class="btn btn-red btn-large"><i class="icon-ticket"></i> <%= t('register') %></a>
        <p class="price">
          <span class="price price-regular">ARS $800</span>
          <span class="price price-earlybird">ARS $500</span>
          <span class="price price-legend"><%= t('price_legend') %></span>
        </p>
        <p class="ticket-includes"><%= t('ticket_includes') %></p>
      </div>
    </section>

    <section id="speakers">
      <div class="container">
        <h2><%= t('cfp_title')%></h2>
        <ul>
          <li>
            <img class="speaker" alt="Brock Whitten" src="../img/speakers/sintaxi.jpg">
            <h3><a href="https://twitter.com/sintaxi">sintaxi</a></h3>
            <p>(Brock Whitten)</p>
            <p>Harp platform</p>
          </li>
          <li>
            <img class="speaker" alt="Thomas Edward Figg" src="../img/speakers/tef.jpg">
            <h3><a href="https://twitter.com/tef">tef</a></h3>
            <p>(Thomas Edward Figg)</p>
            <p>Code Club</p>
          </li>
          <li>
            <img class="speaker" alt="Ostap Cherkashin" src="../img/speakers/cherkaos.jpg">
            <h3><a href="https://twitter.com/cherkaos">cherkaos</a></h3>
            <p>(Ostap Cherkashin)</p>
            <p>Mingle</p>
          </li>
          <li>
            <img class="speaker" alt="Jano González" src="../img/speakers/janogonzalez.jpg">
            <h3><a href="https://twitter.com/janogonzalez">janogonzalez</a></h3>
            <p>(Jano González)</p>
            <p>HopIn</p>
          </li>
          <li>
            <img class="speaker" alt="Linda Sandvik" src="../img/speakers/hyper_linda.jpg">
            <h3><a href="https://twitter.com/hyper_linda">hyper_linda</a></h3>
            <p>(Linda Sandvik)</p>
            <p>Code Club</p>
          </li>
        </ul>
        <div class="clear">&nbsp;</div>
        <p class="cfp"><%= t('cfp_text')%></p>
        <p>
          <a class="btn btn-yellow" href="https://docs.google.com/forms/d/1g48FQO7BpC7LfagZGuOcyH6kHeUOuhO3IfqxAoGv5Q4/viewform">
            <%= t('cfp_link') %> <i class="icon-chevron-right"></i></a>
        </p>
      </div>
    </section>

    <section id="venue">
      <div class="container">
        <h2><%= t('venue_title') %></h2>
        <p><%= t('venue_text') %> <a href="http://www.ciudadculturalkonex.org/?page=institucional&subpage=historia">Ciudad Cultural Konex</a>.</p>
        <iframe width="480" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=Sarmiento+3131,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hnear=Sarmiento+3131,+Balvanera,+Buenos+Aires,+Argentina&amp;t=m&amp;z=14&amp;output=embed"></iframe>
      </div>
    </section>

    <section id="sponsors">
      <div class="container">
        <h2><%= t('sponsors_title') %></h2>
        <p><%= t('sponsors_text') %></p>
        <ul>
          <li>
            <a href="http://citrusbyte.com"><img src="../img/sponsors/citrusbyte.png" height="77" width="270" alt="Citrusbyte"></a></p>
          </li>
        </ul>
        <p><a href="mailto:rubyconfar@gmail.com"><%= t('contact_us')%></a> <%= t('sponsors_text_closure') %></p>
      </div>
    </section>

    <footer>
      <p><%= t('footer_first') %> <abbr title="Ruby Argentina Asociación Civil">RAAC</abbr>, <%= t('footer_end') %>.</p>
      <p class="social-icons pull-right">
        <a href="http://twitter.com/rubyconfar" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a>
        <a href="http://facebook.com/rubyconfar" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a>
        <a href="https://vimeo.com/rubyargentina" title="Vimeo"><i class="icon-youtube-play icon-2x"></i></a>
      </p>
      <p class="past-editions">
        <%= t('past_editions') %>:
        <a href="http://2011.rubyconfargentina.org">RubyConf Argentina 2011</a>
        <a href="http://2012.rubyconfargentina.org">RubyConf Argentina 2012</a>
      </p>
    </footer>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-83541-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
