<!DOCTYPE html>
<html lang="<%= t('site_lang') %>">
  <head>
    <meta charset="UTF-8" />
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>RubyConf Argentina 2013</title>
    <link rel="icon" type="image/png" href="../favicon.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='#speakers'><%= t('nav_speakers') %></a></li>
        <li><a href='#venue'><%= t('nav_venue') %></a></li>
        <li class="pull-right"><a href='<%= t('nav_lang_selector_url') %>'><%= t('nav_lang_selector_message') %></a></li>
      </ul>
    </nav>
    
    <header>
      <img src="../img/rubyconfar-2013.png">
      <p>
        Buenos Aires, <%= t('date') %>
      </p>
    </header>

    <section>
      <p style="margin-top: 100px; font-size: 30px;">
      <%= t('header')%></p>


      <a name="speakers">
        <h2><%= t('cfp_title')%></h2>
      </a>

      <ul>
        <li>
          <img class="speaker" alt="Brock Whitten" src="../img/speakers/sintaxi.jpg">
          <h3><a href="https://twitter.com/sintaxi">sintaxi</a></h3>
          <p>(Brock Whitten)</p>
          <p>Harp platform</p>
        </li>
        <li>
          <img class="speaker" alt="Thomas Edward Figg" src="../img/speakers/tef.jpg">
          <h3><a href="https://twitter.com/tef">tef</a></h3>
          <p>(Thomas Edward Figg)</p>
          <p>Code Club</p>
        </li>
        <li>
          <img class="speaker" alt="Ostap Cherkashin" src="../img/speakers/cherkaos.jpg">
          <h3><a href="https://twitter.com/cherkaos">cherkaos</a></h3>
          <p>(Ostap Cherkashin)</p>
          <p>Mingle</p>
        </li>
        <li>
          <img class="speaker" alt="Jano González" src="../img/speakers/janogonzalez.jpg">
          <h3><a href="https://twitter.com/janogonzalez">janogonzalez</a></h3>
          <p>(Jano González)</p>
          <p>HopIn</p>
        </li>
        <li>
          <img class="speaker" alt="Linda Sandvik" src="../img/speakers/hyper_linda.jpg">
          <h3><a href="https://twitter.com/hyper_linda">hyper_linda</a></h3>
          <p>(Linda Sandvik)</p>
          <p>Code Club</p>
        </li>
      </ul>

      <div class="clear">&nbsp;</div>

      <p class="cfp"><%= t('cfp_text')%> <a href="https://docs.google.com/forms/d/1g48FQO7BpC7LfagZGuOcyH6kHeUOuhO3IfqxAoGv5Q4/viewform"><%= t('cfp_link') %></a>.</p>


      <a name="venue">
        <h2><%= t('venue_title') %></h2>
      </a>

      <p><%= t('venue_text') %> <a href="http://www.ciudadculturalkonex.org/?page=institucional&subpage=historia">Ciudad Cultural Konex</a>.</p>

      <iframe src="https://www.google.com/maps?t=m&q=Ciudad+Cultural+Konex&dg=opt&ie=UTF8&hq=Ciudad+Cultural+Konex&hnear=&z=16&vpsrc=0&cid=13957683743549153120&iwloc=A&output=embed" frameborder="0"></iframe>
    </section>

    <footer>
      <p><%= t('footer_first') %> <abbr title="Ruby Argentina Asociación Civil">RAAC</abbr>, <%= t('footer_end') %>.</p>
      <p>
        <a href="http://twitter.com/rubyconfar"><%= t('follow_us') %></a> <%= t('and') %> <a href="http://facebook.com/rubyconfar"><%= t('like_us') %></a>
      </p>
    </footer>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-83541-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
